---
---
<div id="chat-widget-root"></div>
<script>
  import { createElement } from 'react';
  import { createRoot } from 'react-dom/client';
  import ChatWindow from './ChatWindow';

  const container = document.getElementById('chat-widget-root');
  if (container) {
    createRoot(container).render(createElement(ChatWindow));
  }
</script>
